{% extends 'layout.html' %}
{% set active_page = 'contact' %}

{% block body %}
    <h1 class="">Contact</h1>
    <form id="contactForm" onsubmit="return send();">
        <label for="name">Name</label>
        <input type="text" name="Name" required>
       
        <label for="email">Email</label>
        <input type="email" name="Email" required>
       
        <label for="message">Message</label>
        <textarea name="Message" required></textarea>
       
        <input type="submit" value="Go!" id="contactGo">
      </form>
{% endblock %}