<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>My Flask Blog</title>
</head>
<body>
    {% include 'includes/_navbar.html' %}
    <main>
        {% block body%}{% endblock%}
    </main>
    {% include 'includes/_footer.html' %}
</body>
</html>

<style>
    main {
        margin: 0 auto;
        padding-inline: 8px;
        width: 48%;
       
    }
    @media screen and (max-width: 768px){
        main {
            width: 100%;
        }
    }
</style>
